<h1>Sessions#profile,</h1>
<p>Find me in app/views/sessions/profile,.html.erb</p>
<h2 class='User_Header'> <%=@current_user.username%> Profile <h2>

<h2><%= link_to  "all articles", articles_path %></h2>
 <h2><%= link_to  "logout", logout_path %></h2>
